<h1>{{title}}</h1>

<h2>Para pruebas</h2>

<div class="w-3/4 bg-blue-200 rounded-lg mx-auto mt-10 p-8">

  <div class="flex">
    <div class=""><input type="number" class="rounded-lg px-4 py-2" [(ngModel)]="valor1"></div>
    <div class=""><input type="number" class="rounded-lg px-4 py-2 mx-4" [(ngModel)]="valor2"></div>
  </div>
  <div>
    <button class="rounded-lg px-8 py-2 bg-blue-500 my-4 text-white" (click)="multiplicar(valor1, valor2)">Multiplicar</button>
  </div>
  <div>
    <label *ngIf="resultado" for="">El resultado es : {{resultado}}</label>
  </div>

  <div>
    <div class="mt-10">
      <h3>Suma</h3>
      <div class="p-2 bg-blue-300 rounded-lg mt-2 mb-5 font-bold">
        {{valor1}} + {{ valor2}} = {{valor1 + valor2}}
      </div>
    </div>
    <div>
      <h3>Resta</h3>
      <div class="p-2 bg-blue-300 rounded-lg mt-2 mb-5 font-bold">
        {{valor1}} - {{ valor2}} = {{valor1 - valor2}}
      </div>
    </div>
  </div>

</div>

